body {
height: 100vh;
margin: 10px;
display: grid;
background-color:transparent;
background-image: url("../imagens/grama.jpg");
grid-template-columns: 1fr;
grid-template-rows: 120px 1fr 60px;
grid-template-areas:"cabecalho", "rodape", "conteudo","principal";
} 
.cabecalho{

    background-color: transparent;
    justify-content: flex-start;
    text-align-last: start;
}


.rodape {
    grid-area: rodape;
    background-color:transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.5rem;
    padding-right: 20px;
    color: rgb(255, 255, 255);
   
}

 

    .modulos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        color: rgb(255, 255, 255);
        
  
    }
    
    .conteudo.verde > h3 {
        margin: 0px;
        color: rgb(60, 230, 18);
        font-weight: 300;
        font-size: 1.5rem;
        padding: 10px 20px;
    
        float: left;
    }
    
    .conteudo.verde > ul {
        margin: 0px;
        padding: 10px;
        list-style: none;
        float: left;
       
    }
    
    .conteudo.verde> ul > li {
        padding: 7px;
        font-size: 1.5rem;
        float: left;
    
     
    }
    
    .conteudo.verde > ul > li > a {
        display: flex;
        text-decoration: none;
        color: rgb(236, 70, 70);
        justify-self:center;
      
    }
    
    .conteudo.verde > ul > li:hover {
        background-color: rgb(164, 235, 34);
        float: left;
    }
    

  
    .conteudo.verde > h3 { background-color: #e95151; }

