.body {
height: 100vh;
margin: 0px;
display: grid;
background-color: rgb(0, 0, 0);
grid-template-columns: 1fr;
grid-template-rows: 120px 1fr 60px;
grid-template-areas:"cabecalho", "rodape", "conteudo","principal";
} 



.rodape {
    grid-area: rodape;
    background-color: rgb(245, 230, 18);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: rgb(0, 0, 0);
}
    .cabecalho{
    background-color: gold;
    }


    .modulos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .conteudo.verde{
        flex-basis: 32%;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    
    .conteudo.verde > h3 {
        margin: 0px;
        color: rgb(231, 107, 107);
        font-weight: 300;
        font-size: 1.5rem;
        padding: 10px 20px;
        background-color: #1867c0;
    }
    
    .conteudo.verde > ul {
        margin: 0px;
        padding: 10px;
        list-style: none;
    }
    
    .conteudo.verde> ul > li {
        padding: 7px;
        font-size: 1.2rem;
        cursor: pointer;
    }
    
    .conteudo.verde > ul > li > a {
        display: flex;
        text-decoration: none;
        color: rgb(39, 38, 38);
    }
    
    .conteudo.verde > ul > li:hover {
        background-color: rgb(217, 241, 0);
    }
    

    .conteudo.verde { border: 2px solid #0cf80c; }
    .conteudo.verde > h3 { background-color: #ffd900; }

